.lightbox {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
  z-index: 1;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.lightbox-image {
  background-color: rgb(from var(--applicationworkspace) r g b / 0%);
  object-fit: contain;
  z-index: 9999;
  max-width: 95vw;
  max-height: 95vh;
  width: 100%;
  height: auto;
}

/* Animations for lightbox opening and closing */
.lightbox.fade-enter {
  opacity: 0;
}

.lightbox.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.lightbox.fade-exit {
  opacity: 1;
}

.lightbox.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
